:root{
    --base-color:#FFECEC;
    --main-color: #FF78C4;
    --accent-color: #FFBDF7;
}
*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-color);

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  button:hover{
    transform: scale(1.03);
  }


.container {
    background-color: var(--base-color);
    
    padding: 25px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

#to-do-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    margin: 0 18px;
}

#to-do-title h1{
    font-size: 3rem;
}


#add-task {
    background-color: var(--main-color);
    height: 55px;
    width: 55px;

    font-size: 1.8rem;
    font-weight: 500;
    color: white;


    border-radius: 40px;
    padding: 3px;

}


.list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 15px 0px;
    padding: 20px;
    border-radius: 40px;
}

.list-element p, h3 {
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 15px;
    margin-left: 10px ;
}

.tag-container {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-bottom: 7px;
}

.tag-container p {
    padding: 0 7px;
}


.tag {
    background-color: var(--accent-color);
    border-radius: 10px;
    font-size: 0.8rem;
    width: auto;
}

.btn-container{
    padding: 20px;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left:5px;
}

.btn-update, 
.btn-delete{
    padding: 3px;
    font-size: 1.4rem;
    color: var(--main-color);
    background-color: transparent;
}

/* #region Modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid --accent-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #modal-create, #modal-update{
    display: none;
  }

  /* formularios */
  .form-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: transparent;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
  }
 
  .form-field {
    display: flex;
    flex-direction: column;
  }
  
  .form-section input,
  textarea,
  select {
    font-size: 1rem;
    padding: 3px;
    border: 1px solid #d1dde8;
    border-radius: 10px;

  }

  .btn-submit{
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
  }

  /* #endregion */