:root{
    --base-color:#FFECEC;
    --main-color: #FF78C4;
    --accent-color: #FFBDF7;
}
*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-color);

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }


.container {
    background-color: var(--base-color);
    
    padding: 25px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

.tasks-body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}


.task-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 0px;
    background-color: transparent;
    
    font-size: 1.1rem;
}

#add-task {
    background-color: var(--main-color);
    height: 55px;
    width: 55px;

    font-size: 1.8rem;
    font-weight: 500;
    color: white;


    border-radius: 40px;
    padding: 3px;

}

ul li{
    list-style: none;
    font-size: 1rem;
    padding: 15px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 8px 0px;
    border-radius: 40px;
}

/* #region Modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid --accent-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* formularios */
  .form-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: transparent;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
  }
  
  .form-section input,
  textarea,
  select {
    font-size: 1rem;
    padding: 3px;
    border: 1px solid #d1dde8;
    border-radius: 10px;

  }

  .btn-submit{
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
  }

  /* #endregion */