:root{
    --base-color:#FFECEC;
    --main-color: #FF78C4;
    --accent-color: #FFBDF7;
}
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--main-color);

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--base-color);
    
    padding: 25px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

.tasks-body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}


.task-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 0px;
    background-color: transparent;
    
    font-size: 1.1rem;
}

#add-task {
    background-color: var(--main-color);
    height: 45px;
    width: 45px;

    border-radius: 40px;
    padding: 3px;

}

ul li{
    list-style: none;
    font-size: 1rem;
    padding: 15px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 8px 0px;
    border-radius: 40px;
}